<div class="col-md-12" style="margin-bottom: 20px; margin-top: 20px;">
  <div class="table-responsive">
    <div class="col-md-12 no-padding">
        <button type="button" class="btn btn-primary space-right" data-toggle="modal" data-target="#modal-record">
          <i class="fa fa-plus-square-o"></i> Nueva Ficha Clínica
        </button>
    </div>
  </div>
</div>

<div class="col-md-12 content">
  <!-- <div class="alert alert-info {% if not patient.has_observations %}hide{% endif %}" id="alert-obs">
    <strong>Atención!</strong> Chequea las observaciones de estos detalles.
  </div> -->
  <div class="panel panel-primary">
    <div class="panel-heading">Detalles de ficha</div>
    <div class="panel-body no-padding">
      <div class="table-responsive">
          <table class="table table">
            <thead>
              <tr>
                <th>#</th>
                <th>Dia</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tratamiento</th>
                <th>Caras</th>
                <th>Diente</th>
                <th>Código</th>
                <th>Periodo O.Soc.</th>
                <th>Estado</th>
                <th>Asistencia</th>
                <th>Facturado</th>
                <th width="100"></th>
              </tr>
            </thead>
            <tbody id="tbody-record">
              {% include "register/clinic_record/list.html" %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
