.starter-template {
    padding: 40px 15px;
    text-align: center;
}

body {
    /*background-color: #e3e3e3;*/
}

footer {
  position: absolute;
  margin-top: 90px;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}

.no-padding {
    padding: 0;
}
