.padding-top {
    padding-top: 100px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

body {
    /*background-color: #e3e3e3;*/
    /*background-color: rgba(227, 227, 227, 0.34);*/
    background-color: #f2f6fa;
    background: url("16192-min.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: 'Crimson Text', serif;
}

footer {
	width: 100%;
	position: relative;
	bottom: 0;
}

.no-padding {
    padding: 0;
}

.navbar-right {
    margin-right: 0;
}
