@import url(https://fonts.googleapis.com/css?family=Lato);
.padding-top {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*background-color: #e3e3e3;*/
    /*background-color: rgba(227, 227, 227, 0.34);*/
    background-color: #f2f6fa;
    /*background: url("16192-min.jpg") no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #EEEEEE;
}

#copyright {
  color: #757575;
  margin: 10px 0;
}

.no-padding {
    padding: 0;
}

.navbar-right {
    margin-right: 0;
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

.Green {
  background-color: #4CAF50;
  color: white;
}
.Green-letter {
  color: #4CAF50;
}
.Green-resume td {
  background-color: #A5D6A7;
}

.Teal {
  background-color: #009688;
  color: white;
}
.Teal-letter {
  color: #009688;
}
.Teal-resume td{
  background-color: #80CBC4;
}

.Deep-orange-400 {
  background-color: #FF7043;
  color: #fff;
}
