@import url(http://fonts.googleapis.com/css?family=Francois+One);
body {
    /*background-color: #9ad3de;*/
    background-color: #10C7EA;
    /*background-color: #08A5C3;*/
}

#title {
    margin-bottom: 15px;
    font-family: 'Francois One', sans-serif;
    color: #555;
}

#second-title {
    margin-bottom: 50px;
    color: #555;
}
