  <!-- Modal -->
<div class="modal fade" id="modal-record" tabindex="-1" role="dialog" aria-labelledby="modal-Label">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-Label">Nueva Ficha Clinica</h4>
      </div>
      <form id="benefit-form" class="form-horizontal" role="form" method="POST" action="">
        {% csrf_token %}
        <div class="modal-body">

            <div class="row">
              <div class="col-xs-6 date-group input-fields">
                  <label class="control-label" for="id_date">Fecha y Hora:</label>
                  <div class='input-group date' id='date_gral'>
                      <input class="form-control" id="id_date" name="date" type="text">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
              <div class="col-xs-6 managment_code1-group input-fields">
                  <label class="control-label" for="{{rform.treatment.id_for_label}}">Tratamiento:</label>
                  {{rform.treatment}}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 faces-group input-fields">
                  <label class="control-label" for="{{rform.faces.id_for_label}}">Caras:</label>
                  {{rform.faces}}
              </div>
              <div class="col-xs-4 tooth-group input-fields">
                  <label class="control-label" for="{{rform.tooth.id_for_label}}">Dientes:</label>
                  {{rform.tooth}}
              </div>
              <div class="col-xs-4 period_so-group input-fields">
                  <label class="control-label" for="id_period_so">Periodo O.Soc.:</label>
                  <div class='input-group date' id='date_period_so'>
                      <input class="form-control" id="id_period_so" name="date" type="text">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 observations-group input-fields">
                  <label class="control-label" for="{{rform.observations.id_for_label}}">Observaciones:</label>
                  {{rform.observations}}
              </div>
            </div>

            <div id="alert-add-apross" class="alert alert-danger hide"></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" id="btn-save-benefit" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Guardando">
            <i class="fa fa-floppy-o"></i> Guardar cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
