        {% load staticfiles %}
        {% csrf_token %}
        <div class="modal-body hide">
            <!-- http://eonasdan.github.io/bootstrap-datetimepicker/ -->
            <input type='hidden' name="bf_id" value="{{bf.id}}">

            <div class="row" style="margin-bottom: 30px;">
              <div class="col-xs-12 date-group input-fields">
                  <label class="control-label" for="id_date">Periodo:</label>
                  <div class='input-group date' id='date_edit_bf_picker'>
                      <input class="form-control" id="id_date" name="date" type="text" value="{{bf.month}} - {{bf.year}}">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 managment_code1-group input-fields">
                  <label class="control-label" for="id_managment_code1">Codigo de gestion 1:</label>
                  {{bf_edit_form.managment_code1}}
              </div>
              <div class="col-xs-6 managment_code2-group input-fields">
                  <label class="control-label" for="id_managment_code2">Codigo de gestion 2:</label>
                  {{bf_edit_form.managment_code2}}
              </div>
            </div>

            <div class="row" style="margin-bottom: 30px;">
              <div class="col-xs-6 managment_code3-group input-fields">
                  <label class="control-label" for="id_managment_code3">Codigo de gestion 3:</label>
                  {{bf_edit_form.managment_code3}}
              </div>
              <div class="col-xs-6 managment_code4-group input-fields">
                  <label class="control-label" for="id_managment_code4">Codigo de gestion 4:</label>
                  {{bf_edit_form.managment_code4}}
              </div>
            </div>

            <div id="alert-edit-apross" class="alert alert-danger hide"></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default hide" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success hide" id="btn-edit-benefit" data-loading-text="Guardando &nbsp;<i class='fa fa-refresh fa-spin'></i>">Guardar cambios</button>
        </div>

        <script type="text/javascript">DATE = "{{bf.month}} - {{bf.year}}";</script>
        <script type="text/javascript" src="{% static 'js/edit_benefit.js' %}"></script>
