        {% load staticfiles %}
        {% csrf_token %}
        <div class="modal-body hide">
            <!-- http://eonasdan.github.io/bootstrap-datetimepicker/ -->
            <input type='hidden' name="bf_id" value="{{bf.id}}">
            <div class="row">
              <div class="col-xs-12 date-group input-fields">
                  <label class="control-label" for="id_date">Periodo:</label>
              </div>
            </div>

            <div class="row" style="margin-bottom: 30px;">
              <div class="col-xs-12 date-group input-fields">
                  <div class='input-group date' id='date_edit_bf_picker'>
                      <input class="form-control" id="id_date" name="date" type="text">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 managment_code-group input-fields">
                  <label class="control-label" for="id_managment_code">Codigo de gestion:</label>
              </div>
            </div>

            <div class="row" style="margin-bottom: 30px;">
              <div class="col-xs-12 managment_code-group input-fields">
                  {{bf_edit_form.managment_code}}
              </div>
            </div>

            <div id="alert-edit-apross" class="alert alert-danger hide"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default hide" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success hide" id="btn-edit-benefit" data-loading-text="Guardando &nbsp;<i class='fa fa-refresh fa-spin'></i>">Guardar cambios</button>
        </div>

        <script type="text/javascript">DATE = "{{bf.month}} - {{bf.year}}";</script>
        <script type="text/javascript" src="{% static 'js/edit_benefit.js' %}"></script>
