<div class="col-md-12" style="margin-bottom: 20px; margin-top: 20px;">
    <div class="col-md-6 no-padding">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-benefit">Nueva Ficha Mensual</button>
    {% if last_benefit %}
        <button id="edit_bf" type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-edit-benefit" data-bf-id="{{last_benefit.id}}" data-csrf="{{ csrf_token }}" onclick="javascript:edit_benefit()">Editar Ficha Mensual</button>
    </div>
    <div class="col-md-3 col-md-offset-3 no-padding">
        <select id="select-benefit" class="selectpicker show-tick form-control">
          {% for bf in benefits %}
          <option value="{{bf.id}}" {% if bf == last_benefit %}selected="selected"{% endif %}>
            {{bf.month}} - {{bf.year}}
          </option>
          {% endfor %}
        </select>
    </div>
    {% else %}
    </div>
    {% endif %}
</div>

{% if last_benefit %}
  {% for bf in benefits %}
  <div id="benefit-{{bf.id}}" class="benefits" style="{% if not bf == last_benefit %}display: none;{% endif %}">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Detalle de prestaciones <strong class="pull-right">{{bf.month}} - {{bf.year}}</strong></div>
        <div class="panel-body no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th width="100px">Dia</th>
                <th>Trabajo realizado</th>
                <th>C&oacute;digo de practica</th>
                <th>Elemento</th>
                <th>Caras/Tratadas</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for detail in bf.get_details %}
                  {% include "register/detail_apross.html" with counter=forloop.counter patient=bf.patient %}
              {% empty %}
              <tr>
                <td colspan="6" class="text-center">No hay detalles de prestaciones</td>
                <td width="5%">
                  <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-benefit-detail">
                    <i class="fa fa-pencil-square"></i> Editar Prestaci&oacute;n
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Otros Detalles</div>
        <div class="panel-body no-padding">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th width="250">C&oacute;digos de gest&iacute;on</th>
                <th style="width: 2%">1</th>
                <td width="250">{{bf.managment_code1|default_if_none:"-"}}</td>
                <th style="width: 2%">2</th>
                <td width="250">{{bf.managment_code2|default_if_none:"-"}}</td>
                <th style="width: 2%">3</th>
                <td width="250">{{bf.managment_code3|default_if_none:"-"}}</td>
                <th style="width: 2%">4</th>
                <td width="250">{{bf.managment_code4|default_if_none:"-"}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% include "register/_form_radiography.html" %}

  </div>
  <script type="text/javascript">
    $(function () {
        var range = getMonthDateRange({{bf.year}}, {{bf.get_month_display}})
        $('.day-picker-{{bf.id}}').datetimepicker({
            viewMode: 'days',
            format: 'D',
            locale: 'es',
            minDate: range.start.toDate(),
            maxDate: range.end.toDate()
        });
    });
  </script>

  {% endfor %}

{% else %}
<div class="col-md-12">
  <h3>No existen regitros de prestaciones.</h3>
</div>
{% endif %}
