<div class="col-md-12" style="margin-bottom: 20px; margin-top: 20px;">
    <div class="col-md-3 no-padding">
      <button type="button" class="btn btn-default" id="edit-patient-info">Editar info</button>
      <button type="button" class="btn btn-success hide" id="save-patient-info" data-loading-text="Guardando &nbsp;<i class='fa fa-refresh fa-spin'></i>">Guardar cambios</button>
      <button type="button" class="btn btn-default hide" id="cancel-patient-info">Cancelar</button>
    </div>
</div>
<div class="col-md-12 content">
{% include "person/patient_info.html" %}
</div>
