Django==1.9.2
PyPDF2==1.25.1
argparse==1.2.1
decorator==4.0.9
django-bootstrap-pagination==1.6.1
html5lib==0.9999999
ipdb==0.8.1
ipython==4.1.1
ipython-genutils==0.1.0
path.py==8.1.2
pdfkit==0.5.0
pexpect==4.0.1
pickleshare==0.6
pisa==3.0.33
psycopg2==2.6.1
ptyprocess==0.5.1
pyPdf==1.13
reportlab==3.3.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
wkhtmltopdf==0.2
wsgiref==0.1.2
xhtml2pdf==0.0.6
