<!-- Modal -->
<div class="modal fade" id="modal-patient" tabindex="-1" role="dialog" aria-labelledby="modal-patient-Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-patient-Label">Agregar nuevo paciente</h4>
      </div>
      <form id="patient-form" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group last_name-group">
                  <label class="control-label" for="id_last_name">Apellido:</label>
                  {{patient_form.last_name}}
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group first_name-group">
                  <label class="control-label" for="id_first_name">Nombre:</label>
                  {{patient_form.first_name}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group social_work-group">
                  <label class="control-label" for="id_social_work">Obra Social:</label>
                  {{patient_form.social_work}}
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group gender-group">
                  <label class="control-label" for="id_gender">Sexo:</label>
                  {{patient_form.gender}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group subsidiary_number-group" id="afiliado" style="display: none">
                  <label class="control-label" for="id_social_work">Nro de afiliado:</label>
                  {{patient_form.subsidiary_number}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="alert-add-patient" class="alert alert-danger hide"></div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" id="btn-save-patient" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Guardando">
              <i class="fa fa-floppy-o"></i> Guardar cambios
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
