          {% csrf_token %}
          <div class="table-responsive">
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <th>Apellido:</th>
                  <td>
                    <span class="field-info">{{patient.last_name|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.last_name}}</span>
                  </td>
                  <th>Nombre:</th>
                  <td>
                    <span class="field-info">{{patient.first_name|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.first_name}}</span>
                  </td>
                </tr>
                <tr>
                  <th>DNI:</th>
                  <td>
                    <span class="field-info">{{patient.dni|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.dni}}</span>
                  </td>
                  <th>Alias:</th>
                  <td>
                    <span class="field-info">{{patient.alias|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.alias}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Obra Social:</th>
                  <td>
                    <span class="field-info">{{patient.social_work|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.social_work}}</span>
                  </td>
                  <th>Plan</th>
                  <td>
                    <span class="field-info">{{patient.plan|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.plan}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Nro de afiliado:</th>
                  <td>
                    <span class="field-info">{{patient.subsidiary_number|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.subsidiary_number}}</span>
                  </td>
                  <th>Titular:</th>
                  <td>
                    <span class="field-info">{{patient.incumbent|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.incumbent}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Grupo familiar:</th>
                  <td>
                    <span class="field-info">{{patient.family_group|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.family_group}}</span>
                  </td>
                  <th>Parentesco:</th>
                  <td>
                    <span class="field-info">{{patient.relationship|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.relationship}}</span>
                  </td>
                </tr>
                <tr class="field-info">
                  <th>Localidad:</th>
                  <td>
                    <span class="field-info">{{patient.full_locality|upper|default_if_none:'---'}}</span>
                  </td>
                  <th>Domicilio:</th>
                  <td>
                    <span>{{patient.domicile|default:'---'|upper}}</span>
                  </td>
                </tr>
                <tr class="field-info">
                  <th>Email:</th>
                  <td>
                    <span class="field-info">{{patient.email|default:'---'|upper}}</span>
                  </td>
                  <th></th>
                  <td></td>
                </tr>
                <tr class="edit-info hide">
                  <th>Provincia:</th>
                  <td>
                    <span>{{patient_info_form.suburb}}</span>
                  </td>
                  <th>Localidad</th>
                  <td>
                    <span>{{patient_info_form.locality}}</span>
                  </td>
                </tr>
                <tr class="edit-info hide">
                  <th>Calle:</th>
                  <td>
                    <span >{{patient_info_form.street}}</span>
                  </td>
                  <th>Numero:</th>
                  <td>
                    <span>{{patient_info_form.number}}</span>
                  </td>
                </tr>
                <tr class="edit-info hide">
                  <th>Piso:</th>
                  <td>
                    <span>{{patient_info_form.floor}}</span>
                  </td>
                  <th>Departamento:</th>
                  <td>
                    <span>{{patient_info_form.apartment}}</span>
                  </td>
                </tr>
                <tr class="edit-info hide">
                  <th>Barrio:</th>
                  <td>
                    <span>{{patient_info_form.neighborhood}}</span>
                  </td>
                  <th>Email:</th>
                  <td>
                    <span>{{patient_info_form.email}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Tel&eacute;fono fijo:</th>
                  <td>
                    <span class="field-info">{{patient.tel|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.tel}}</span>
                  </td>
                  <th>Celular:</th>
                  <td>
                    <span class="field-info">{{patient.cel_phone|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.cel_phone}}</span>
                  </td>
                </tr>

                <tr>
                  <th><strong data-toggle="tooltip" data-placement="top" title="Lugar de trabajo del Titular">Lug.Trab.Tit.:</strong></th>
                  <td>
                    <span class="field-info">{{patient.Workplace_holder|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.Workplace_holder}}</span>
                  </td>
                  <th>Jerarquia:</th>
                  <td>
                    <span class="field-info">{{patient.hierarchy|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.hierarchy}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Derivacion:</th>
                  <td>
                    <span class="field-info">{{patient.derivation|default:'---'|upper}}</span>
                    <span class="edit-info hide">{{patient_info_form.derivation}}</span>
                  </td>
                  <th>Sexo:</th>
                  <td>
                    <span class="field-info">{% if patient.gender == 1%}MASCULINO{% elif patient.gender == 2%}FEMENINO{% else %}---{%endif%}</span>
                    <span class="edit-info hide">{{patient_info_form.gender}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Fecha de Nacimiento:</th>
                  <td colspan="3">
                    <span class="field-info">{{patient.birth_date|date:"SHORT_DATE_FORMAT"|default:'---'}}</span>
                    <span class="edit-info hide">
                      <div class='input-group date' id='birth_date_picker' style="width: 100%;">
                          {{patient_info_form.birth_date}}
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                    </span>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <script type="text/javascript">
              $(function(){
                  $('.selectpicker').selectpicker();
                  $('#birth_date_picker').datetimepicker({
                      format: 'DD/MM/YYYY',
                      locale: 'es',
                  });
              });
              $(function () {
                $('[data-toggle="tooltip"]').tooltip()
              })
          </script>
