            {% csrf_token %}
            <table class="table">
              <tbody>
                <tr>
                  <th>Apellido:</th>
                  <td>
                    <span class="field-info">{{patient.last_name}}</span>
                    <span class="edit-info hide">{{patient_info_form.last_name}}</span>
                  </td>
                  <th>Nombre:</th>
                  <td>
                    <span class="field-info">{{patient.first_name}}</span>
                    <span class="edit-info hide">{{patient_info_form.first_name}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Obra social:</th>
                  <td>
                    <span class="field-info">{{patient.social_work}}</span>
                    <span class="edit-info hide">{{patient_info_form.social_work}}</span>
                  </td>
                  <th>Plan</th>
                  <td>
                    <span class="field-info">{{patient.plan}}</span>
                    <span class="edit-info hide">{{patient_info_form.plan}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Nro de afiliado:</th>
                  <td>
                    <span class="field-info">{{patient.subsidiary_number}}</span>
                    <span class="edit-info hide">{{patient_info_form.subsidiary_number}}</span>
                  </td>
                  <th></th>
                  <td></td>
                </tr>
                <tr>
                  <th>Titular:</th>
                  <td>
                    <span class="field-info">{{patient.incumbent|default:'---'}}</span>
                    <span class="edit-info hide">{{patient_info_form.incumbent}}</span>
                  </td>
                  <th>Grupo familiar:</th>
                  <td>
                    <span class="field-info">{{patient.family_group|default:'---'}}</span>
                    <span class="edit-info hide">{{patient_info_form.family_group}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Parentesco:</th>
                  <td>
                    <span class="field-info">{{patient.relationship|default:'---'}}</span>
                    <span class="edit-info hide">{{patient_info_form.relationship}}</span>
                  </td>

                </tr>
                <tr>
                  <th>Fecha de nacimiento:</th>
                  <td colspan="3">
                    <span class="field-info">{{patient.birth_date|date:"SHORT_DATE_FORMAT"|default:'---'}}</span>
                    <span class="edit-info hide">
                      <div class='input-group date' id='birth_date_picker' style="width: 100%;">
                          {{patient_info_form.birth_date}}
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                    </span>
                  </td>
                </tr>
                <tr class="field-info">
                  <th>Localidad:</th>
                  <td>
                    <span class="field-info">{{patient.full_locality|default_if_none:'---'}}</span>
                  </td>
                  <th>Domicilio:</th>
                  <td>
                    <span>{{patient.domicile|default:'---'}}</span>
                  </td>
                </tr>
                <tr class="field-info">
                  <th>Email:</th>
                  <td>
                    <span class="field-info">{{patient.email|default:'---'}}</span>
                  </td>
                  <th></th>
                  <td></td>
                </tr>
                <tr class="edit-info hide">
                  <th>Provincia:</th>
                  <td>
                    <span>{{patient_info_form.suburb}}</span>
                  </td>
                  <th>Localidad</th>
                  <td>
                    <span>{{patient_info_form.locality}}</span>
                  </td>
                </tr>
                <tr class="edit-info hide">
                  <th>Calle:</th>
                  <td>
                    <span >{{patient_info_form.street}}</span>
                  </td>
                  <th>Numero:</th>
                  <td>
                    <span>{{patient_info_form.number}}</span>
                  </td>
                </tr>
                <tr class="edit-info hide">
                  <th>Piso:</th>
                  <td>
                    <span>{{patient_info_form.floor}}</span>
                  </td>
                  <th>Departamento:</th>
                  <td>
                    <span>{{patient_info_form.apartment}}</span>
                  </td>
                </tr>
                <tr class="edit-info hide">
                  <th>Barrio:</th>
                  <td>
                    <span>{{patient_info_form.neighborhood}}</span>
                  </td>
                  <th>Email:</th>
                  <td>
                    <span>{{patient_info_form.email}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Tel&eacute;fono fijo:</th>
                  <td>
                    <span class="field-info">{{patient.tel|default:'---'}}</span>
                    <span class="edit-info hide">{{patient_info_form.tel}}</span>
                  </td>
                  <th>Celular:</th>
                  <td>
                    <span class="field-info">{{patient.cel_phone|default:'---'}}</span>
                    <span class="edit-info hide">{{patient_info_form.cel_phone}}</span>
                  </td>
                </tr>

                <tr>
                  <th><strong data-toggle="tooltip" data-placement="top" title="Lugar de trabajo del Titular">Lug.Trab.Tit.:</strong></th>
                  <td>
                    <span class="field-info">{{patient.Workplace_holder|default:'---'}}</span>
                    <span class="edit-info hide">{{patient_info_form.Workplace_holder}}</span>
                  </td>
                  <th>Jerarquia:</th>
                  <td>
                    <span class="field-info">{{patient.hierarchy|default:'---'}}</span>
                    <span class="edit-info hide">{{patient_info_form.hierarchy}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Derivacion:</th>
                  <td>
                    <span class="field-info">{{patient.derivation|default:'---'}}</span>
                    <span class="edit-info hide">{{patient_info_form.derivation}}</span>
                  </td>
                  <th>Sexo:</th>
                  <td>
                    <span class="field-info">{% if patient.gender == 1%}Masculino{% elif patient.gender == 2%}Femenino{% else %}---{%endif%}</span>
                    <span class="edit-info hide">{{patient_info_form.gender}}</span>
                  </td>
                </tr>

              </tbody>
            </table>
            <script type="text/javascript">
                $(function(){
                    $('.selectpicker').selectpicker();
                    $('#birth_date_picker').datetimepicker({
                        format: 'DD/MM/YYYY',
                        locale: 'es',
                    });
                });
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
