{% extends "base.html" %}
{% load staticfiles register_extras %}

{% block links %}
{% endblock %}

{% block extra_left_navs %}
  <li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      {% if patient.gender == 2 %}
        <i class="fa fa-female" aria-hidden="true"></i> {{patient.last_name|title}}
      {% else %}
        <i class="fa fa-male" aria-hidden="true"></i> {{patient.last_name|title}}
      {% endif %}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="loader active">
        <a href="{% url 'person:profile_patient' id=patient.id %}">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Datos Filiatorios
        </a>
      </li>
      <li class="loader">
        <a href="{% url 'person:clinical_history' id=patient.id %}">
          <i class="fa fa-folder-open"></i> Historia Cl&iacute;nica
        </a>
      </li>
      <li class="loader">
        <a href="{% url 'person:social_work' id=patient.id %}">
          <i class="fa fa-building" aria-hidden="true"></i> Obra social
        </a>
      </li>
    </ul>
  </li>
{% endblock %}

{% block content %}
{{block.super}}

  {% include "register/side_bar.html" with active=1 %}

  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Datos Filiatorios - {{patient.last_name|upper}} {{patient.first_name|title}}
        {% if patient.birth_date %}<span class="label label-default pull-right" style="background-color: {% if patient.gender == 2 %}#EF84B8;{% else %}#2fa4e7;{% endif %}">{{patient.birth_date|calculate_age}} Años</span>{% endif %}
      </h1>
      <div class="panel panel-info" style="box-shadow: 0 4px 12px rgba(60,55,75,.16);">
        <div class="panel-heading" style="background-color: {% if patient.gender == 2 %}#EF84B8;{% else %}#2fa4e7;{% endif %}">
          <h3 class="panel-title">Datos Filiatorios</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3" align="center">
              <img alt="User Pic" class="img-circle img-responsive" src="{% if patient.gender == 2 %}{% static 'images/woman-min.jpg' %}{% else %}{% static 'images/man-min.jpg' %}{% endif %}">
            </div>
            <div class="col-md-9 col-lg-9">
              <form id="patient-info-form" method="POST" action="{% url 'person:edit_patient' id=patient.id %}" class="form-horizontal">
              {% include "register/patient_data/_form.html" %}
              </form>
            </div>
          </div>
        </div>
       <div class="panel-footer">
         <div class="row">
           <div class="col-md-12 col-lg-12">
                <a type="button" class="btn btn-default pull-right" id="edit-patient-info">
                  <i class="fa fa-pencil-square-o"></i> Editar Datos
                </a>
                <a type="button" class="btn btn-success pull-right hide" id="save-patient-info" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Guardando"
                  style="margin-left: 10px;">
                  <i class="fa fa-floppy-o"></i> Guardar cambios
                </a>
                <a type="button" class="btn btn-default pull-right hide" id="cancel-patient-info">Cancelar</a>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{% static 'js/patient_info.js'%}"></script>
{% endblock %}
