<div class="col-md-12 content" style="margin-top: 20px;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Detalles de ficha
    </div>
    <div class="panel-body no-padding">
      <div class="table-responsive">
          <table class="table table">
            <thead>
              <tr>
                <th>#</th>
                <th>Dia</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tratamiento</th>
                <th>Caras</th>
                <th>Diente</th>
                <th>Debe</th>
                <th>Haber</th>
                <th>Saldo</th>
                <th width="100"></th>
              </tr>
            </thead>
            <tbody id="tbody-account">
              {% include "register/accounts/list.html" %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
