<table class="table table-bordered">
  <tbody>
    <tr>
      <td colspan="2">
        <div class="col-md-4">
          <button type="button" class="btn btn-default" id="edit-odontogram">
            <i class="fa fa-pencil-square-o"></i> Editar odontograma
          </button>
          <button type="button" class="btn btn-success hide" id="save-odontogram" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Guardando">
            <i class="fa fa-floppy-o"></i> Guardar cambios
          </button>
          <button type="button" class="btn btn-default hide" id="cancel-odontogram">Cancelar</button>
        </div>
        <div id="select-work-type" class="hide col-md-3">
          <select class="selectpicker show-tick">
            {% for val, text in work_types %}
            <option value="{{val}}">{{text}}</option>
            {% endfor %}
            <option value="7" selected="selected">Limpiar</option>
            <option value="" selected="selected">---------</option>
          </select>
        </div>
        <div class="col-md-2">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default hide" id="button-red">
              <span class="badge" style="background-color:rgba(255, 0, 0, 0.63);" data-color="red">&nbsp;&nbsp;</span>
            </button>
            <button type="button" class="btn btn-default hide active" id="button-blue">
              <span class="badge" style="background-color: rgba(0, 0, 255, 0.63);" data-color="blue">&nbsp;&nbsp;</span>
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td width="200" style="vertical-align: inherit;">
        <table class="table table-bordered">
          <tbody>
            <tr><td class="text-center">Cantidad de Dientes</td></tr>
            <tr><td id="text-teeth" class="text-center" style="font-size: 25px;">
              <span class="label label-warning">{{patient.odontogram.teeth_count|default_if_none:'---'}}</span>
            </td></tr>
          </tbody>
        </table>
        <table class="table table-bordered" style="margin-top: 8px;">
          <tbody>
            <tr><td class="text-center">Periodo</td></tr>
            <tr>
              <td class="text-center">
                <span class="field-odont" id="text-odontogram" style="font-size: 18px;">{{odontogram_form.instance.period}}</span>
                <span class="edit-odont hide">
                  <div class="date-group input-fields">
                      <div class='input-group date' id='date_odontogram'>
                          <input class="form-control" id="id_date_odontogram" name="date_odontogram" type="text">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <div>
            {% include "register/odontogram/plot.html" %}
        </div>
      </td>
    </tr>
    <tr>
      <td width="200">Observaciones:</td>
      <td>
        <span class="field-odont" id="text-observation">{{odontogram_form.instance.observations|default:'-'}}</span>
        <span class="edit-odont hide">{{odontogram_form.observations}}</span>
      </td>
    </tr>
</tbody>
</table>
