{% extends "account/base.html" %}
{% load i18n account staticfiles socialaccount %}

{% block title %}Login{% endblock %}

{% block links %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <strong class="text-center" id="principal-title">DENTALSOFT</strong>
          </div>
        </div>
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form method='POST' action="{% url 'account_login' %}" class="login form-signin">
                {% csrf_token %}
                <div class="form-group {% if form.login.errors %}has-error{% endif %}">
                    <input id="{{form.login.id_for_label}}" maxlength="30" name="{{form.login.html_name}}"
                     type="text" class="form-control" placeholder="Usuario"></input>
                </div>
                <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                    <input id="{{form.password.id_for_label}}" name="{{form.password.html_name}}"
                    type="password" class="form-control" placeholder="Password"></input>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                      {% for err in form.errors.items %}{{err.1}}{% endfor %}
                    </div>
                {% endif %}
                <div id="remember" class="checkbox">
                    <label>
                        <input id="{{form.remember.id_for_label}}" name="{{form.remember.html_name}}" type="checkbox"> Mantener la sesión iniciada
                    </label>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-block btn-primary btn-lg btn-signin" type="submit">Iniciar sesi&oacute;n</button>
                <a href='{% provider_login_url "google" process="login" %}' class="btn btn-block btn-social btn-lg btn-signin btn-google-plus">
                  <i class="fa fa-google-plus"></i>
                  Iniciar sesi&oacute;n con Google
                </a>
            </form>
            <a href="{% url 'account_reset_password' %}" class="forgot-password">
                Recuperar clave.
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}

{% block scripts %}{% endblock scripts %}
