{% extends "account/base.html" %}

{% load i18n staticfiles %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block links %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <strong class="text-center" id="principal-title">DENTALSOFT</strong>
          </div>
        </div>
        <div class="card card-container">
          <h4>{% trans "Change Password" %}</h4>
          <p>{% trans 'Your password is now changed.' %}</p>
          <a type="button" class="btn btn-primary btn-block" href="{% url 'account_login' %}">Iniciar sesión</a>
        </div>
    </div>
{% endblock %}
