<!-- Modal -->
<div class="modal fade" id="modal-benefit-detail" tabindex="-1" role="dialog" aria-labelledby="modal-detail-Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-benefit-Label">Agregar detalle de prestaciones</h4>
      </div>
      <form id="detail-form" method="POST" action=".">
        {% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
              <label class="control-label" for="id_  "></label>
              <span id="helpBlock2" class="help-block hidden"></span>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" id="btn-save-detail" data-loading-text="Guardando...">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
