<!-- Modal -->
<div class="modal fade" id="modal-benefit" tabindex="-1" role="dialog" aria-labelledby="modal-Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-Label">Agregar registro de prestaci&oacute;n</h4>
      </div>
      <form id="benefit-form" method="POST" action=".">
        {% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
              <label class="control-label" for="id_date">Fecha:</label>
              {{benefit_form.date}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_managment_code1">Codigo de gestion 1:</label>
              {{benefit_form.managment_code1}}
              <span id="helpBlock2" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_managment_code2">Codigo de gestion 2:</label>
              {{benefit_form.managment_code2}}
              <span id="helpBlock3" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_managment_code3">Codigo de gestion 3:</label>
              {{benefit_form.managment_code3}}
              <span id="helpBlock4" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_rx_amount">Cantidad de Rx. adjuntas:</label>
              {{benefit_form.rx_amount}}
              <span id="helpBlock5" class="help-block hidden"></span>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" id="btn-save-benefit" data-loading-text="Guardando...">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
