<!-- Modal -->
<div class="modal fade" id="modal-patient-info" tabindex="-1" role="dialog" aria-labelledby="modal-patient-info-Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-patient-info-Label">Información Extra del Paciente</h4>
      </div>
      <form id="patient-info-form" method="POST" action=".">
        {% csrf_token %}
        <div class="modal-body">

            <div class="form-group">
              <label class="control-label" for="id_incumbent">Titular:</label>
              {{patient_info_form.incumbent}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_family_group">Grupo Familiar:</label>
              {{patient_info_form.family_group}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_relationship">Parentesco:</label>
              {{patient_info_form.relationship}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_birth_date">Fecha de nac.:</label>
              {{patient_info_form.birth_date}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_street">Calle:</label>
              {{patient_info_form.street}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_number">N&uacute;mero:</label>
              {{patient_info_form.number}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_suburb">Barrio:</label>
              {{patient_info_form.suburb}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_locality">Localidad:</label>
              {{patient_info_form.locality}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_tel">Tel/Cel:</label>
              {{patient_info_form.tel}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_Workplace_holder">Lugar de Trabajo del Titular:</label>
              {{patient_info_form.Workplace_holder}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_hierarchy">Jerarqu&iacute;a:</label>
              {{patient_info_form.hierarchy}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_email">Email:</label>
              {{patient_info_form.email}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <label class="control-label" for="id_gender">Sexo:</label>
              {{patient_info_form.gender}}
              <span id="helpBlock1" class="help-block hidden"></span>
            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" id="btn-save-patient-info" data-loading-text="Guardando...">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
