{% load staticfiles %}
{% for patient in patients %}
<tr>
  <td>{{patient.code}}
  <td>{{patient.last_name}}</td>
  <td>{{patient.first_name}}</td>
  <td>{{patient.social_work|default_if_none:'Ninguna'}}</td>
  <td>{{patient.subsidiary_number|default_if_none:''}}</td>
  <td>
    <a href="{% url 'person:patient_profile' id=patient.id %}" type="button" class="btn btn-primary btn-xs loader" style="width: 100%">
      <i class="fa fa-folder-open"></i> Fichas
    </a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="6" class="text-center">No hay ning&uacute;n paciente</td>
</tr>
{% endfor %}
<tr id="loading" class="hide">
  <td colspan="6" class="text-center"><img src="{% static 'images/ring-alt.svg' %}"></img></td>
</tr>
<script type="text/javascript">
  $(document).ready(function(){
    $('.loader').on('click', function(){
      $("#fakeLoader").fakeLoader({
          timeToHide: 10000000,
          bgColor:"#3498db",
          spinner:"spinner4"
      });
    });
  });
</script>
