{% extends 'base.html' %}

{% block title %}Mis Pacientes{% endblock %}

{% block links %}
  {% load staticfiles %}
  <link href="{% static 'css/patients.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ block.super }}
{% include "person/_add_patient.html" %}

<div class="row padding-top buttons">
    <form id="filter" action="{% url 'person:search_patient' %}" method="GET" class="form-inline" role="form">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-patient"><i class="fa fa-user-plus"></i> Agregar nuevo</button>
      <button type="button" class="btn btn-default hide">Eliminar</button>
      <div class="form-group" style="padding-left:25px;">
        <input id="text_search" name="text_search" class="form-control" type="text"{% if text_search %} value="{{text_search}}" {% endif %}placeholder="Search">
        <button type="button" class="btn btn-primary" onclick="javascript: search();"><i class="fa fa-search"></i></button>
      </div>
    </form>
</div>

<div class="row" id="list-patients">
  <div class="panel panel-primary">
    <div class="panel-heading">Lista de pacientes</div>
    <div class="panel-body no-padding">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Obra social</th>
            <th>Afiliado n&deg;</th>
            <th>Perfil</th>
          </tr>
        </thead>
        <tbody id="body-list-patients">
          {% include "person/list_patients.html" %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="pagination" class="row">
    {% include "person/paginator.html" %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  URL_PAGINATOR = "{% url 'person:paginator_patient' %}";
  CSRF = "{{ csrf_token }}";
</script>
<script type="text/javascript" src="{% static 'js/patients.js'%}"></script>
<script type="text/javascript" src="{% static 'js/_add_patient.js'%}"></script>
{% if rec_added %}
<script type="text/javascript">
  $(function(){
    toastr.success("El paciente se ha añadido correctamente.", "NUEVO PACIENTE.");
  });
</script>
{% endif %}
{%endblock%}
