{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Mis Pacientes{% endblock %}

{% block links %}
  <link href="{% static 'css/patients.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ block.super }}
{% include "person/patients/_add.html" %}
{% include "register/_delete.html" with title="Borrar Paciente" %}

<div class="row padding-top">
  <form id="filter" action="." method="GET" class="form-inline" role="form">
    <div class="col-md-12">
        <h1 class="page-header"><i class="fa fa-users"></i>&nbsp;&nbsp;Pacientes</h1>
        <div class="buttons">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-patient" style="width: 100%;">
                <i class="fa fa-user-plus"></i> Agregar nuevo
              </button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="input-group" style="width: 100%;">
                <input id="text_search" name="text_search" type="text" class="form-control" placeholder="Buscar por..." {% if text_search %}value="{{text_search}}"{% endif %}>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" onclick="javascript: filter();"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div id="list-patients">
            <!--<div class="alert alert-info hide" id="alert-obs">
              <strong>Atención!</strong> Las observaciones de estos pacientes en su historia clínica pueden contener datos importantes.
            </div>-->
            <div class="panel panel-primary" style="box-shadow: 0 4px 12px rgba(60,55,75,.16);">
              <div class="panel-heading">Lista de pacientes</div>
              <div class="panel-content-load">
              {% include "person/patients/table.html" %}
              </div>
            </div>
        </div>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/patients.js'%}"></script>
<script type="text/javascript" src="{% static 'js/_add_patient.js'%}"></script>
{% if rec_added %}
<script type="text/javascript">
  $(function(){
    toastr.success("El paciente se ha añadido correctamente.", "NUEVO PACIENTE.");
  });
</script>
{% endif %}
{%endblock%}
