{% extends 'base.html' %}

{% block links %}
  {% load staticfiles %}
  <link href="{% static '' %}" rel="stylesheet">
  <style media="screen">
    .table {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="row padding-top">
  <div class="col-md-6">
    <div class="panel panel-primary" id="basic-info">
      <div class="panel-heading"><strong>Paciente</strong> - Informaci&oacute;n b&aacute;sica</div>
      <div class="panel-body no-padding">
        <table class="table">
          <tbody>
            <tr>
              <th>Nombre<th/>
              <td>{{ patient.get_full_name }}</td>
            </tr>
            <tr>
              <th>N&deg; Afiliado<th/>
              <td>{{ patient.subsidiary_number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Odont&oacute;logo</strong> - Informaci&oacute;n b&aacute;sica</div>
      <div class="panel-body no-padding">
        <table class="table">
          <tbody>
            <tr>
              <th>Nombre<th/>
              <td>{{ dentist.user.get_full_name }}</td>
            </tr>
            <tr>
              <th>C&iacute;rculo<th/>
              <td>{{ dentist.circle }}</td>
            </tr>
            <tr>
              <th>N&deg; de Matr&iacute;cula<th/>
              <td>{{ dentist.register_number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
