{% extends 'base.html' %}
{% load staticfiles %}

{% block links %}
  <style media="screen">
    .table {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block extra_navs %}
  <li id="to_pdf" class="{% if last_benefit %}loader{% else %}disabled{% endif %}">
    <a  href="{% if last_benefit %}{% url 'register:benefit_to_pdf' patient_id=patient.id bf_id=last_benefit.id %}{% else %}#to_pdf{% endif %}">
      <i class="fa fa-file-pdf-o"></i> Exportar a pdf
    </a>
  </li>
{% endblock %}

{% block content %}
{{ block.super }}

{% if patient.social_work and patient.social_work.initial == 'APROSS' %}
  {% include "register/_add_apross.html" %}
{% else %}
  {% include "register/_add_benefit.html" %}
{% endif %}
<div class="modal fade" id="modal-edit-benefit" tabindex="-1" role="dialog" aria-labelledby="modal-Label"></div>

<div class="row padding-top">
  <div class="col-md-6">
    <div class="panel panel-primary" id="basic-info">
      <div class="panel-heading"><strong>Paciente</strong> - Informaci&oacute;n b&aacute;sica</div>
      <div class="panel-body no-padding">
        <table class="table">
          <tbody>
            <tr>
              <th>Nombre</th>
              <td>{{ patient.get_full_name }}</td>
            </tr>
            <tr>
              <th>Obra social</th>
              <td>{{ patient.social_work|default_if_none:'Ninguna' }}</td>
            </tr>
            <tr>
              {% if patient.subsidiary_number %}
              <th>Nro de afiliado</th>
              <td><span class="label label-primary" style="font-size: 14px">{{ patient.subsidiary_number }}</span></td>
              {% else %}
              <th>&nbsp;</th>
              <td>&nbsp;</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Odont&oacute;logo</strong> - Informaci&oacute;n b&aacute;sica</div>
      <div class="panel-body no-padding">
        <table class="table">
          <tbody>
            <tr>
              <th>Nombre</th>
              <td>{{ dentist.user.get_full_name }}</td>
            </tr>
            <tr>
              <th>C&iacute;rculo</th>
              <td>{{ dentist.circle }}</td>
            </tr>
            <tr>
              <th>N&deg; de Matr&iacute;cula</th>
              <td><span class="label label-primary" style="font-size: 14px">{{ dentist.register_number }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-md-12" style="margin-bottom: 20px;">
      <div class="panel panel-primary">
        <div class="panel-body no-padding">
          <ul class="nav nav-tabs">
            <li role="presentation" id="tab-detail" class="active"><a href="#detail">Detalles</a></li>
            <li role="presentation" id="tab-info"><a href="#info">Informacion</a></li>
            <li role="presentation" id="tab-odontogram"><a href="#odontogram">Odontograma</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="detail" aria-labelledby="details-tab">
              {% if patient.social_work and patient.social_work.initial == 'APROSS' %}
                {% include "register/apross.html" %}
              {% else %}
                {% include "register/benefit.html" %}
              {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="info" aria-labelledby="info-tab">
              {% include "person/patient_info.html" %}
            </div>
            <div role="tabpanel" class="tab-pane fade text-center" id="odontogram" aria-labelledby="ondontogram-tab">
              <div class="btn-group" role="group" aria-label="..." style="margin: 20px auto;">
                <button type="button" class="btn btn-default" id="button-red">
                  <span class="badge" style="background-color:rgba(255, 0, 0, 0.63);">&nbsp;&nbsp;</span>
                </button>
                <button type="button" class="btn btn-default" id="button-blue">
                  <span class="badge" style="background-color: rgba(0, 0, 255, 0.63);">&nbsp;&nbsp;</span>
                </button>
              </div>
              <div style="margin-bottom: 40px;">
                {% include "register/odontogram.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/profile.js'%}"></script>
  <script type="text/javascript">
    url_profile = "{% url 'person:patient_profile' id=patient.id %}"
    URL_EDIT_BF = "{% url 'register:edit_benefit' patient_id=patient.id %}"
    URL_TO_PDF = "{% if last_benefit %}{% url 'register:benefit_to_pdf' patient_id=patient.id bf_id=last_benefit.id %}{% endif %}"
  </script>
  <script type="text/javascript" src="{% static 'js/benefit.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/patient_info.js'%}"></script>
{% endblock %}
