{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Cambiar contrase&ntilde;a - {{ request.user.get_full_name }}{% endblock %}

{% block content %}
{{ block.super }}

    <div class="row well well-md" style="margin-top: 100px;">
        <h4>Cambiar contrase&ntilde;a:</h4>
        <form id="reset-password" action="{% url 'person:reset_password' %}" method="POST" class="form-horizontal" role="form">
            {% include "person/reset_password/password.html" %}
        </form>
        <button id="but-password-form" type="button" class="btn btn-success pull-right" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Guardando">
          <i class="fa fa-floppy-o"></i> Guardar cambios
        </button>
    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $('#but-password-form').on('click', function(){
        $('.form-group').removeClass('has-error');
        $(this).button('loading');
        var data_form = $('#reset-password').serialize();
        var url = $('#reset-password').attr('action');
        $.ajax({
          type: "POST",
          url: url,
          data: data_form,
          success: function(data) {
              $('#but-password-form').button('reset');
              if (data.status != 'ERROR') {
                $('#reset-password').html(data);
                toastr.success('', 'CONTRASEÑA MODIFICADA');
              } else {
                validate_errors('reset-password', data.errors, 'alert-password-edit');
                $('#alert-password-edit').removeClass('hide');
              }
          }
        });
    });

    function validate_errors(name_form, json_errors, alert) {
      var alert_content = '';
      for (var key in json_errors) {
          $('#'+name_form).find('.'+key+'-group').addClass('has-error');
          alert_content += '<p>' + json_errors[key] + '</p>';
      }
      $('#'+alert).html(alert_content);
    }
</script>
{% endblock %}
