{% extends 'base.html' %}

{% block links %}
  {% load staticfiles %}
  <link href="{% static 'css/list_patients.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ block.super }}
<div class="row" id="list-patients">
  <div class="panel panel-primary">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body no-padding">
      <table class="table table-bordered" style="margin-bottom: 0;">
        <thead>
          <tr>
            <th>#1</th>
            <th>#2</th>
            <th>#3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>nano1</td>
            <td>nano2</td>
            <td>nano3</td>
          </tr>
          <tr>
            <td>nano1</td>
            <td>nano2</td>
            <td>nano3</td>
          </tr>
          <tr>
            <td>nano1</td>
            <td>nano2</td>
            <td>nano3</td>
          </tr>
          <tr>
            <td>nano1</td>
            <td>nano2</td>
            <td>nano3</td>
          </tr>
          <tr>
            <td>nano1</td>
            <td>nano2</td>
            <td>nano3</td>
          </tr>
          <tr>
            <td>nano1</td>
            <td>nano2</td>
            <td>nano3</td>
          </tr>
          <tr>
            <td>nano1</td>
            <td>nano2</td>
            <td>nano3</td>
          </tr>
          <tr>
            <td>nano1</td>
            <td>nano2</td>
            <td>nano3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
