{% load staticfiles core_extras %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sistema de gestion odontologica para llevar registros de pacientes, historial
  clinico, prestaciones, modificaciones, trabajos realizacion.">
  <meta name="keywords" content="Odontologia, sistema odontologico, registro odontologico, registro de prestaciones, pacientes,
  odontologo, dientes, diente, caries, arreglo, jpdorrego, juan pablo dorrego, belgrano 134, cordoba, cordoba odontologia, argentina">
  <meta name="author" content="Nano Molina">
  <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/cerulean/bootstrap.min.css'  %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome-4.6.1/css/font-awesome.min.css'%}">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/bootstrap-select/dist/css/bootstrap-select.min.css' %}" />
  <link rel="stylesheet" href="{% static 'bower_components/fakeLoader/fakeLoader.css' %}" />
  <link rel="stylesheet" href="{% static 'bower_components/toastr/toastr.min.css' %}">
  {% block links %}{% endblock %}

  <!--[if IE]>
  <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript"> var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/"); document.write(unescape("<script src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript' %3E%3C/script%3E")); </script>
</head>

<body>
  {% block navbar %}{% endblock %}

  <div class="container">
    {% block content %}
    {% if user.is_authenticated %}
      <div id="fakeLoader"></div>
      <!--Fixed inverse navbar-->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">DENTALSOFT</a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li id="home" class="loader {% if template == 'home'%}active{% endif %}">
                <a href="{% url 'core:home' %}"><i class="fa fa-home"></i>&nbsp;&nbsp;Inicio</a>
              </li>
              <li id="patient" class="loader {% if template == 'patient'%}active{% endif %}">
                <a href="{% url 'person:patient_list'%}"><i class="fa fa-users"></i>&nbsp;&nbsp;Pacientes</a>
              </li>
              {% block extra_left_navs %}{% endblock %}
              <li id="register" class="loader {% if template == 'register'%}active{% endif %}">
                <a  href="{% url 'person:registers' %}"><i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;Registros</a>
              </li>
              <li id="tariff" class="loader {% if template == 'tariff' %}active{% endif %}">
                <a  href="{% url 'core:tariff' %}"><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;Aranceles</a>
              </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" action="{% url 'person:patient_list' %}">
              <div class="input-group">
                <input type="text" class="form-control" name="text_search" placeholder="Buscar por paciente...">
                <span class="input-group-btn">
                  <button class="btn btn-primary loader" type="submit"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>

            <ul class="nav navbar-nav navbar-right" style="margin-right: 0">
              {% block extra_right_navs %}{% endblock %}
              {% with request.user|get_avatar_url as avatar_url %}
              <li class="hidden-xs hidden-sm">
                {% if avatar_url %}
                <img src="{{avatar_url}}" alt="" class="img-responsive" width="50" height="auto"/>
                {% endif %}
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% if not avatar_url %}
                      <i class="fa fa-user"></i>
                    {% endif %}
                    {{ request.user.last_name }} {{ request.user.first_name }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <!--<li class="loader"><a href="{% url 'person:reset_password' %}">Cambiar contrase&ntilde;a</a></li>-->
                  <li class="loader"><a href="{% url 'person:settings' %}"><i class="fa fa-cogs"></i> Configuración</a></li>
                  <li class="loader"><a href="{% url 'core:mp' %}"><i class="fa fa-credit-card" aria-hidden="true"></i> Facturas</a></li>
                  <li class="loader"><a href="{% url 'socialaccount_connections' %}"><i class="fa fa-google-plus" aria-hidden="true"></i> Cuentas</a></li>
                  <li role="separator" class="divider"></li>
                  <li id="version" class="loader"><a href="{% url 'core:version' %}"></i><span class="label label-success">version 3.1.3</span></a></li>
                  <li role="separator" class="divider"></li>
                  <li class="loader">
                    <a onclick="javascript: logout();"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
                    <form id="form-logout" method="post" action="{% url 'account_logout' %}">
                      {% csrf_token %}
                    </form>
                  </li>
                </ul>
              </li>
              {% endwith %}
            </ul>

          </div>
      </nav>
      <!--End Fixed inverse navbar-->
    {% endif %}
    {% endblock %}
  </div>


  {% block extra_content %}
  {% endblock %}

  {% include "core/_contact_us_modal.html" %}
  {% if user.is_authenticated %}
  <footer class="footer">
    <div class="container">
      <p id="copyright">© Copyright 2016. DentalSoftCba. All Rights Reserved.
        <span class="pull-right"><a id="contact-us" data-toggle="modal" data-target="#modal-contact-us" href="#">Contactanos</a></span>
      </p>
    </div>
  </footer>
  {% endif %}

  <script language="JavaScript" type="text/javascript">  TrustLogo("https://micuenta.donweb.com/img/sectigo_positive_sm.png", "CL1", "none"); </script> <a href="https://donweb.com/es-ar/certificados-ssl" id="comodoTL" title="Certificados SSL Argentina">Certificados SSL Argentina</a>

  <script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/base.js'%}"></script>
  <script type="text/javascript" src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/moment/min/locales.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'node_modules/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'node_modules/bootstrap-select/dist/js/i18n/defaults-es_CL.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/fakeLoader/fakeLoader.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/toastr/toastr.min.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>
