{% extends 'base.html' %}

{% block title %}home - {{ request.user.get_full_name }}{% endblock %}

{% block links %}
  {% load staticfiles %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/_add_patient.js'%}"></script>
{% endblock %}

{% block content %}
{{ block.super }}

{% include "person/patients/_add.html" %}

<div class="jumbotron" style="background-color: #E8EAF6;">
  <div class="container">
    <div class="row page-header">
      <h1 class="display-3" style="color: #317eac;">¡Bienvenido! Dr. {{ request.user.get_full_name }}.</h1>
    </div>
    <h4 class="text-muted">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</h4>
    <p>
      {% if not has_connection %}
      <div class="col-md-4 no-padding">
        <a href="{% url 'socialaccount_connections' %}" class="btn btn-block btn-social btn-md btn-signin btn-google-plus">
          <i class="fa fa-google-plus"></i>
          Conectar con Google
        </a>
      </div>
      {% endif %}
    </p>
  </div>
</div>

<div id="home-content">
  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="page-header" style="margin-top: 10px;">
        <h3>Opciones</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="panel" style="cursor: pointer;">
              <a type="button" data-toggle="modal" data-target="#modal-patient" >
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user-plus fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size: 22px;">Nuevo Paciente</div>
                        </div>
                    </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-12">
          <div class="panel" style="cursor: pointer;">
            <a href="{% url 'core:birthdays' %}" class="loader">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-birthday-cake fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div style="font-size: 22px;">Cumpleaños mensuales</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="page-header" style="margin-top: 10px;">
        <h3>Ver datos de un paciente</h3>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin-bottom: 40px;">
          {{patient_select_form.patient}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel parent-patient-dependence">
              <a class="patient-dependence" data-href="/persons/patient/profile/">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-info-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size: 22px;">Datos Filiatorios</div>
                        </div>
                    </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel parent-patient-dependence">
              <a class="patient-dependence" data-href="/persons/clinical_history/">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-folder-open fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size: 22px;">Ficha Clínica</div>
                        </div>
                    </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel parent-patient-dependence">
              <a class="patient-dependence" data-href="/persons/social_work/">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-building fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size: 22px;">Datos de Obra Social</div>
                        </div>
                    </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel parent-patient-dependence">
              <a class="patient-dependence" data-href="/persons/patient/account/">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-usd fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size: 22px;">Cuenta Corriente</div>
                        </div>
                    </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel parent-patient-dependence">
              <a class="patient-dependence" data-href="/persons/odontogram/">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-th fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size: 22px;">Odontograma</div>
                        </div>
                    </div>
                </div>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
