{% extends 'base.html' %}

{% block links %}
  {% load staticfiles %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ block.super }}
    <!-- Page Content -->
    <div id="home-content">
      <!-- Marketing Icons Section -->
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">
                  Bienvenido al gestor de odontologia
              </h1>
          </div>
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4><i class="fa fa-users"></i> Listado de pacientes</h4>
                  </div>
                  <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                      <a href="{% url 'person:patient_list' %}" class="btn btn-default loader">Learn More</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4><i class="fa fa-file-text"></i> Registro de prestaciones de servicios</h4>
                  </div>
                  <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                      <a href="#" class="btn btn-default disabled">Learn More</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4><i class="fa fa-stethoscope"></i> Historia clinica general</h4>
                  </div>
                  <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                      <a href="#" class="btn btn-default disabled">Learn More</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- /.row -->
    </div>
{% endblock %}
