{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}login{% endblock %}

{% block links %}
  {% load staticfiles %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <strong class="text-center" id="principal-title">DENTALSOFT</strong>
          </div>
        </div>
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form method='post' action='.' class="form-signin">
                {% csrf_token %}
                <div class="form-group {% if login_error %}has-error{% endif %}">
                    <input type="text" name="username" class="form-control" id="inputUser" placeholder="Usuario" {% if login_error %}value="{{ username }}"{% endif %}>
                </div>
                <div class="form-group {% if login_error %}has-error{% endif %}">
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" {% if login_error %}value="{{ password }}"{% endif %}>
                </div>
                {% if login_error %}
                    <div class="alert alert-danger" role="alert">Usuario o contraseña invalidos.</div>
                {% endif %}
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Mantener la sesión iniciada
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Iniciar sesi&oacute;n</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Recuperar clave.
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}
