{% extends 'base.html' %}

{% block title %}New version{% endblock %}

{% block links %}
  {% load staticfiles %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ block.super }}
  <h2 class="padding-top">V2.0 - Nuevo en esta version</h2>
  <div class="list-group">
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">Datos filiatorios</h4>
      <p class="list-group-item-text">Se añaden los campos de celular y otro de email con control de error.</p>
    </a>
  </div>
{% endblock %}
