{% extends 'base.html' %}

{% block title %}New version{% endblock %}

{% block links %}
  {% load staticfiles %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ block.super }}
  <h2 class="padding-top">V2.1.0 - Nuevo en esta version</h2>
  <div class="list-group">
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">Datos filiatorios</h4>
      <p class="list-group-item-text">Se añaden los campos de celular y otro de email con control de error.</p>
    </a>
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">Numero de linea en tabs</h4>
      <p class="list-group-item-text">El numero que indica la linea actual cuando no es editada esta marcada de azul y cuando se está editando está de verde.</p>
    </a>
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">Nueva tab radiografia</h4>
      <p class="list-group-item-text">Se agrega una nueva tab que contendra todas las radiografias de un paciente con la posibilidad de seleccion y edicion por mes con cambios que impactara en el pdf.</p>
    </a>
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">Nueva Distincion de colores</h4>
      <p class="list-group-item-text">Se oscurece el color de la barra principal a un azul oscuro para una mejor distición de la pantalla de trabajo.</p>
    </a>

  </div>
{% endblock %}
