{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Configuraci&oacute;n - {{ request.user.get_full_name }}{% endblock %}

{% block content %}
{{ block.super }}

<div class="row padding-top">
  <div class="col-md-12">
      <h1 class="page-header"><i class="fa fa-cogs"></i> Configuraci&oacute;n</h1>
  </div>
  <div class="col-md-6">
      <div class="panel panel-primary" style="box-shadow: 0 4px 12px rgba(60,55,75,.16);">
        <div class="panel-heading">Informaci&oacute;n Personal</div>
        <div class="panel-body">
          <form id="my-personal-settings" action="{% url 'person:settings_personal' %}" method="POST" class="form-horizontal" role="form">
              {% include "person/settings/_form_personal.html" %}
          </form>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
                <button id="but-personal-form" type="button" class="btn btn-success pull-right" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Guardando">
                  <i class="fa fa-floppy-o"></i> Guardar cambios
                </button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="panel panel-primary" style="box-shadow: 0 4px 12px rgba(60,55,75,.16);">
        <div class="panel-heading">Informaci&oacute;n del odontologo</div>
        <div class="panel-body">
          <form id="dentist-settings" action="{% url 'person:settings_dentist' %}" method="POST" class="form-horizontal" role="form">
              {% include "person/settings/_form_dentist.html" %}
          </form>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
              <button id="but-dentist-form" type="button" class="btn btn-success pull-right" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Guardando">
                <i class="fa fa-floppy-o"></i> Guardar cambios
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $('#but-personal-form').on('click', function(){
        $('#my-personal-settings .form-group').removeClass('has-error');
        $(this).button('loading');
        var data_form = $('#my-personal-settings').serialize();
        var url = $('#my-personal-settings').attr('action');
        $.ajax({
          type: "POST",
          url: url,
          data: data_form,
          success: function(data) {
              $('#but-personal-form').button('reset');
              if (data.status != 'ERROR') {
                $('#my-personal-settings').html(data);
                toastr.success('', 'DATOS PERSONALES EDITADOS');
              } else {
                validate_errors('my-personal-settings', data.errors, 'alert-personal-edit');
                $('#alert-personal-edit').removeClass('hide');
              }
          }
        });
    });
    $('#but-dentist-form').on('click', function(){
        $('#dentist-settings .form-group').removeClass('has-error');
        $(this).button('loading');
        var data_form = $('#dentist-settings').serialize();
        var url = $('#dentist-settings').attr('action');
        $.ajax({
          type: "POST",
          url: url,
          data: data_form,
          success: function(data) {
              $('#but-dentist-form').button('reset');
              if (data.status != 'ERROR') {
                $('#dentist-settings').html(data);
                toastr.success('', 'DATOS DEL ODONTOLOGO EDITADOS');
              } else {
                validate_errors('dentist-settings', data.errors, 'alert-personal-edit');
                $('#alert-dentist-edit').removeClass('hide');
              }
          }
        });
    });

    function validate_errors(name_form, json_errors, alert) {
      var alert_content = '';
      for (var key in json_errors) {
          $('#'+name_form).find('.'+key+'-group').addClass('has-error');
          alert_content += '<p>' + json_errors[key] + '</p>';
      }
      $('#'+alert).html(alert_content);
    }
</script>
{% endblock %}
