{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Cuenta Corriente General{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="row padding-top">
    <div class="col-md-12">
        <h1 class="page-header"><i class="fa fa-usd"></i>&nbsp;&nbsp;Parciales Cuenta Corriente</h1>

        <div class="row">
          <form id="period-form" action="{% url 'person:partial_accounts_registers_data' %}" method="GET" class="form">
              <div class='col-md-3'>
                  <div class="form-group">
                      <div class='input-group date' id='date-from'>
                          <input type='text' name="date_from" class="form-control" placeholder="Desde"/>
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
              <div class='col-md-3'>
                  <div class="form-group">
                      <div class='input-group date' id='date-to'>
                          <input type='text' name="date_to" class="form-control" placeholder="Hasta"/>
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="...">
                  <button id="balance-positive" type="button" class="btn btn-default" onclick="javascript: filterBalance(1)">Positivo</button>
                  <button id="balance-negative" type="button" class="btn btn-default" onclick="javascript: filterBalance(2)">Negativo</button>
                  <button id="balance-all" type="button" class="btn btn-default active" onclick="javascript: filterBalance(0)">Todos</button>
                  <input id="balance-type" type="hidden" name="balance" value="0">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input id="code" type="text" class="form-control" name="code" placeholder="Filtrar por código">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  {{patient_select.patient}}
                </div>
              </div>
          </form>
        </div>

        <div class="row">
            <div class="col-md-12">
              <div class="panel panel-shadow">
                  <div class="panel-heading Green">
                    Cuentas de pacientes
                  </div>
                  <div class="panel-body no-padding">
                    <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Nombre</th>
                              <th>Dia</th>
                              <th>Fecha</th>
                              <th>Hora</th>
                              <th>Caras</th>
                              <th>Diente</th>
                              <th>Código</th>
                              <th>Debe</th>
                              <th>Haber</th>
                              <th>Saldo</th>
                            </tr>
                          </thead>
                          <tbody id="tbody-account">
                            {% include "person/registers/account/list_partial.html" %}
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(function () {
      var dateNow = new Date();
      var firstDay = new Date(dateNow.getFullYear(), dateNow.getMonth(), 1);
      $('#date-from').datetimepicker({
        locale: 'es',
        defaultDate: firstDay,
      });
      $('#date-to').datetimepicker({
          locale: 'es',
          defaultDate: dateNow,
      });
      $("#date-from").on("dp.change", function (e) {
          $('#date-to').data("DateTimePicker").minDate(e.date);
          getListAccounts();
      });
      $("#date-to").on("dp.change", function (e) {
          $('#date-from').data("DateTimePicker").maxDate(e.date);
          getListAccounts();
      });
      $('#id_patient').on('change', function(){
        getListAccounts();
      });
      $('#code').on('keyup', function(){
        getListAccounts();
      });
      getListAccounts();
  });

  function getListAccounts() {
    $('#tbody-account tr').not('#loading').remove();
    $('#loading').removeClass('hide');
    $.ajax({
      type: 'GET',
      url: $('#period-form').attr('action'),
      data: $('#period-form').serialize(),
      success: function(data) {
        $('#tbody-account').html(data);
      }
    })
  }

  function filterBalance(type) {
    $('#balance-type').val(type);
    $('#balance-all').removeClass('active');
    $('#balance-positive').removeClass('active');
    $('#balance-negative').removeClass('active');
    switch (type) {
      case 0:
        $('#balance-all').addClass('active');
        break;
      case 1:
        $('#balance-positive').addClass('active');
        break;
      case 2:
        $('#balance-negative').addClass('active');
        break;
      default:

    }
    getListAccounts();
  }
</script>
{%endblock%}
