<div class="col-md-12" style="margin-bottom: 20px; margin-top: 20px;">
  <style media="screen">
    .space-right{margin-right: 11px;}
    @media (max-width: 500px) {
      .pull-left-mobile {
        float: left !important;
      }
    }
  </style>
  <div class="table-responsive">
    <div class="col-md-12 no-padding">
        <button type="button" class="btn btn-primary space-right" data-toggle="modal" data-target="#modal-benefit">
          <i class="fa fa-plus-square-o"></i> Nueva Ficha Mensual
        </button>
    {% if last_benefit %}
        <button id="edit_bf" type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-edit-benefit" data-bf-id="{{last_benefit.id}}" data-csrf="{{ csrf_token }}" onclick="javascript:edit_benefit()">
          <i class="fa fa-pencil-square-o"></i> Editar Ficha Mensual
        </button>

        <select id="select-benefit" class="selectpicker show-tick pull-right pull-left-mobile">
          {% for bf in benefits %}
          <option value="{{bf.id}}" {% if bf == last_benefit %}selected="selected"{% endif %}>
            {{bf.month}} - {{bf.year}}
          </option>
          {% endfor %}
        </select>

        <button class="btn btn-default pull-right space-right pull-left-mobile" type="button" data-toggle="modal" data-target="#modal-print" >
          <i class="fa fa-print"></i></i> Imprimir
        </button>
    </div>
    {% else %}
    </div>
    {% endif %}
  </div>
</div>
